In [ ]:
## Tarefa: Analisar o Comportamento de Compra de Consumidores.

Você recebeu a tarefa de analisar os dados de compras de um web site! Os dados estão no formato JSON.

No site, cada usuário efetua login usando sua conta pessoal e pode adquirir produtos à medida que navega pela lista de produtos oferecidos. Cada produto possui um valor de venda. Dados de idade e sexo de cada usuário foram coletados e estão fornecidos no arquivo JSON.

Seu trabalho é entregar uma análise de comportamento de compra dos consumidores. Esse é um tipo de atividade comum realizado por Cientistas de Dados e o resultado deste trabalho pode ser usado, por exemplo, para alimentar um modelo de Machine Learning e fazer previsões sobre comportamentos futuros.

Mas nesta missão você vai analisar o comportamento de compra dos consumidores na linguagem Python e seu relatório final deve incluir cada um dos seguintes itens:

**Contagem de Compradores**

* Número total de compradores


**Análise Geral de Compras**

* Número de itens exclusivos
* Preço médio de compra
* Número total de compras
* Rendimento total


**Informações Demográficas Por Gênero**

* Porcentagem e contagem de compradores masculinos
* Porcentagem e contagem de compradores do sexo feminino
* Porcentagem e contagem de outros / não divulgados


**Análise de Compras Por Gênero**

* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Compras for faixa etária


**Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste:**

* Login
* Número de compras
* Preço médio de compra
* Valor Total de Compra
* Itens mais populares


**Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste:**

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


**Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste:**

* ID do item
* Nome do item
* Número de compras
* Preço do item
* Valor Total de Compra


**Como considerações finais:**

* Seu script deve funcionar para o conjunto de dados fornecido.
* Eu sugiro o uso dos pacotes numpy e pandas, porém serão aceitos quaisquer outros pacotes utilizados.
* A biblioteca pandas possui funções implementadas que permitem a realização de quase todas as tarefas desse exercício sem necessidade de utilizar comandos de repetição (for ou while). Portanto procurem as funções desse pacote que melhor auxiliem na resolução dessa atividade.

In [7]:
# Imports
import pandas as pd
import numpy as np

In [5]:
# Endereco do arquivo
endereco = 'dados_compras.json'

dados_compras = pd.read_json(endereco, orient = "values")
dados_compras.head()#Para ver toda a tabela de valores basta remover o head()

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27

In [6]:
#Para acessar as posições da variavel
dados_compras['Login'][0]

'Aelalis34'

## Contagem de Compradores

In [144]:
dados_compras

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27
...,...,...,...,...,...,...
775,Eural50,22,Masculino,98,"Deadline, Voice Of Subtlety",3.62
776,Lirtossa78,14,Masculino,104,Gladiator's Glaive,1.36
777,Tillyrin30,20,Masculino,117,"Heartstriker, Legacy of the Light",4.15
778,Quelaton80,20,Masculino,75,Brutality Ivory Warmace,1.72
779,Alim85,23,Feminino,107,"Splitter, Foe Of Subtlety",3.61

In [4]:
# Número total de compradores

In [14]:
# Implemente aqui sua solução
dados_compras['Login'].nunique()

573

## Análise Geral de Compras

In [6]:
# Número de itens exclusivos
# Preço médio de compra
# Número total de compras
# Rendimento total

In [8]:
# Implemente aqui sua solução
numero_itens = dados_compras['Item ID'].nunique()
preco_medio = dados_compras['Valor'].mean()
total_de_compras = dados_compras['Valor'].max()
itens_comprados = dados_compras['Valor'].nunique()
rendimento = dados_compras['Valor'].sum()
print('O total de itens exclusivos são de {}' .format(numero_itens))
print('O preço médio de compra é {:.2f}' .format(preco_medio))
print('O total de compras foi de {:.2f}'.format(total_de_compras))
print('O total de itens comprados foi de {} itens'.format(itens_comprados))
print('O rendimento total de todas as compras foi de R$:{:.2f}'.format(rendimento))

O total de itens exclusivos são de 183
O preço médio de compra é 2.93
O total de compras foi de 4.95
O total de itens comprados foi de 152 itens
O rendimento total de todas as compras foi de R$:2286.33

## Informações Demográficas Por Gênero

In [8]:
# Porcentagem e contagem de compradores masculinos
# Porcentagem e contagem de compradores do sexo feminino
# Porcentagem e contagem de outros / não divulgados

In [29]:
contagem_por_genero = dados_compras['Sexo'].value_counts()
porcentagem_por_genero = dados_compras['Sexo'].value_counts(normalize=True) * 100

info_generos = pd.DataFrame({
    'Contagem': contagem_por_genero,
    'Porcentagem': porcentagem_por_genero
})

info_generos['Porcentagem'] = info_generos['Porcentagem'].map('{:.2f}%'.format)

print("Informações Por Gênero:")
print(info_generos)

Informações Por Gênero:
                       Contagem Porcentagem
Sexo
Masculino                   633      81.15%
Feminino                    136      17.44%
Outro / Não Divulgado        11       1.41%

## Análise de Compras Por Gênero

In [10]:
# Número de compras
# Preço médio de compra
# Valor Total de Compra
# Compras por faixa etária

In [46]:
numero_de_compras = dados_compras.shape[0]
preco_medio_compra = dados_compras['Valor'].mean()
valor_total_compra = dados_compras['Valor'].sum()
faixas_etarias = pd.cut(dados_compras['Idade'], bins=[0, 18, 25, 35, 50, float('inf')], labels=['<18', '18-25', '26-35', '36-50', '50+'])
compras_por_faixa_etaria = faixas_etarias.value_counts().sort_index()

print("Número de compras:", numero_de_compras)
print("Preço médio de compra: {:.2f}" .format(preco_medio_compra))
print("Valor Total de Compra:", valor_total_compra)
print("\nCompras por faixa etária:")
print(compras_por_faixa_etaria)

Número de compras: 780
Preço médio de compra: 2.93
Valor Total de Compra: 2286.33

Compras por faixa etária:
Idade
<18      174
18-25    425
26-35    134
36-50     47
50+        0
Name: count, dtype: int64

## Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste:

In [12]:
# Login
# Número de compras
# Preço médio de compra
# Valor Total de Compra
# Itens mais populares

In [35]:
agrupado = dados_compras.groupby('Login')

metricas = pd.DataFrame({
    'Número de compras': agrupado.size(),                         
    'Preço médio de compra': agrupado['Valor'].mean(),           
    'Valor Total de Compra': agrupado['Valor'].sum(),             
    'Itens mais populares': agrupado['Nome do Item'].agg(lambda col: col.mode()[0])  
})

metricas = metricas.sort_values(by='Valor Total de Compra', ascending=False)
print(metricas.head(5))

             Número de compras  Preço médio de compra  Valor Total de Compra  \
Login
Undirrala66                  5               3.412000                  17.06
Saedue76                     4               3.390000                  13.56
Mindimnya67                  4               3.185000                  12.74
Haellysu29                   3               4.243333                  12.73
Eoda93                       3               3.860000                  11.58

                    Itens mais populares
Login
Undirrala66       Blood Infused Guardian
Saedue76                     Ritual Mace
Mindimnya67                       Devine
Haellysu29   Blood-Forged Skeletal Spine
Eoda93          Haunted Bronzed Bludgeon

## Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste:

In [47]:
# ID do item
# Nome do item
# Número de compras
# Preço do item
# Valor Total de Compra

In [54]:
metricas_itens = dados_compras.groupby(['Item ID', 'Nome do Item']).agg({'Item ID': 'size','Valor': ['first', 'sum']})
metricas_itens.columns = ['Numero de Compras', 'Preço do Item', 'Valor Total Compra']
metricas_itens = metricas_itens.reset_index()
top_5_itens = metricas_itens.sort_values(by='Numero de Compras', ascending=False).head(5)
print("Top 5 itens mais populares por contagem de compras:")
print(top_5_itens[['Item ID', 'Nome do Item', 'Numero de Compras', 'Preço do Item', 'Valor Total Compra']])

Top 5 itens mais populares por contagem de compras:
    Item ID                          Nome do Item  Numero de Compras  \
39       39  Betrayal, Whisper of Grieving Widows                 11
84       84                            Arcane Gem                 11
34       34                       Retribution Axe                  9
31       31                             Trickster                  9
13       13                              Serenity                  9

    Preço do Item  Valor Total Compra
39           2.35               25.85
84           2.23               24.53
34           4.14               37.26
31           2.07               18.63
13           1.49               13.41

## Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste:

In [55]:
# ID do item
# Nome do item
# Número de compras
# Preço do item
# Valor Total de Compra

In [56]:
metricas_itens = dados_compras.groupby(['Item ID', 'Nome do Item']).agg({
    'Item ID': 'size',             # Número de compras
    'Valor': ['first', 'sum']      # Preço do item (primeiro preço encontrado) e Valor total de compra
})
metricas_itens.columns = ['Número de compras', 'Preço do item', 'Valor Total de Compra']
metricas_itens = metricas_itens.reset_index()
top_5_lucrativos = metricas_itens.sort_values(by='Valor Total de Compra', ascending=False).head(5)

print("Top 5 itens mais lucrativos pelo valor total de compra:")
print(top_5_lucrativos[['Item ID', 'Nome do Item', 'Número de compras', 'Preço do item', 'Valor Total de Compra']])

Top 5 itens mais lucrativos pelo valor total de compra:
     Item ID                Nome do Item  Número de compras  Preço do item  \
34        34             Retribution Axe                  9           4.14
115      115  Spectral Diamond Doomblade                  7           4.25
32        32                     Orenmir                  6           4.95
103      103              Singed Scalpel                  6           4.87
107      107   Splitter, Foe Of Subtlety                  8           3.61

     Valor Total de Compra
34                   37.26
115                  29.75
32                   29.70
103                  29.22
107                  28.88